*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-image: linear-gradient(#002339,#002339e0);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.display {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 5px;
}

.container h1{
    font-size: 45px;
    font-weight: 500;
}
.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}
.display img {
    width: 15px;
    cursor: pointer;
}

.display input{
    border: 0;
    outline: 0;
    font-size: 15px;
}
button{
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    background-color: #019f55;
    color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
button:hover{
    background-color: #03b361c0;
}
button img{
    width: 10px;
    margin-right: 5px;
}
